<span
  id="badge-avatar"
  class="inline-flex items-center bg-[#8446b1]/50 border border-brand-subtle text-[#ccc9c9] text-xs font-medium ps-1.5 pe-0.5 py-0.5 rounded gap-1 ring-0.5
  hover:ring-1 ring-brand-focus transition-all duration-300 cursor-pointer
  hover:scale-105 transform-gpu"
>
  <img
    class="w-3.5 h-3.5 rounded-full me-1"
    src="/assets/FotoPerfil.jpg"
    alt="Rounded avatar"
  />
  Trabajemos juntos
  <button
    type="button"
    class="inline-flex items-center p-0.5 text-sm bg-transparent rounded-xs hover:bg-brand-soft"
    aria-label="Contactar"
  >
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
      ><path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 12h16M14 6l6 6-6 6"></path></svg
    >
    <span class="sr-only">Contactar</span>
  </button>
</span>
