---
import Mail from "../icons/Mail.astro"
---
<span
  id="badge-avatar"
  class="inline-flex items-center bg-[#A855F7]/30 border border-brand-subtle text-[#ccc9c9] text-xs font-medium ps-1.5 pe-0.5 py-0.5 rounded gap-1 ring-0.5
  hover:cursor-pointer transition
  hover:bg-[#A855F7]/95
  hover:scale-105 transform-gpu"
>
 <Mail class="icon icon-tabler icons-tabler-outline icon-tabler-mail-forward size-4" /> 
  Cuéntame tu proyecto
  <button
    type="button"
    class="inline-flex items-center p-0.5 text-sm bg-transparent rounded-xs hover:bg-brand-soft"
    aria-label="Contactar"
  >
</span>
