---
---

<footer class="flex justify-center w-full flex-col items-center py-2">
    <img src="/oscar-casillas-portfolio/assets/my-space-icon.png" alt="My Space Icon" class="w-15 h-auto" />
    <p class="ml-2 text-sm text-gray-400">Óscar Casillas Rodríguez - 2026 ©</p>
</footer>