---

---
<header class="flex flex-col items-center gap-4 py-5 w-[80%] md:flex-row md:justify-between">
  <img
    class="rounded-full size-12"
    src="/assets/FotoPerfil.jpg"
    alt="Foto de Oscar"
  />

  <nav>
    <ul class="flex flex-row gap-x-5 text-sm md:text-base sm:gap-x-10">
      <li><a href="/">Inicio</a></li>
      <li><a href="#presentation">Sobre mí</a></li>
      <li><a href="#professionalRoute">Ruta Profesional</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>

<style>
  li {
    position: relative;
  }

  li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8446b1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  li:hover::after {
    transform: scaleX(1);
  }
</style>
