<section id="presentation" class="py-3 px-3 w-[90%] lg:w-[80%]">
  <h1 class="text-4xl font-bold mb-2">Bienvenido! Soy Óscar Casillas</h1>
  <h2 class="text-3xl font-semibold mb-2">Desarrollador Web</h2>
  <p class="text-lg">Tengo conocimiento tanto en APIs, Backend y Frontend.</p>
  <p class="text-lg">Resido en la comunidad de Toledo pero a escasos minutos de Madrid.</p>
</section>
