---
import Presentation from "./Presentation.astro"
import TimeLine from "./TimeLine.astro"
import Projects from "./Projects.astro"
import Contacto from "./Contacto.astro"
---

<main class="flex flex-1 flex-col gap-10 py-5 px-3 w-[90%] lg:w-[80%] mb-5">
  <Presentation id="presentation"/>
  <TimeLine id="professionalRoute"/>
  <Projects id="projects"/>
  <Contacto id="contact"/>
</main>
