---
import Education from "../icons/Education.astro";
import Certificate from "../icons/Certificate.astro";
import Work from "../icons/Work.astro";
---

<ol class="relative border-s border-default">
  <li class="ms-6">
    <span
      class="absolute flex items-center justify-center size-8 bg-[#10B981] rounded-full -start-4 ring-1 ring-buffer"
    >
      <Education
        class="icon icon-tabler icons-tabler-outline icon-tabler-school size-5"
      />
    </span>
    <time
      class="relative top-1 bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
      >Septiembre 2023 - Marzo 2025</time
    >
    <h3 class="my-2 text-lg font-semibold text-heading">
      FP Superior - Desarrollo de Aplicaciones Web
    </h3>
  </li>

  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center size-8 bg-[#4F46E5] rounded-full -start-4 ring-1 ring-buffer"
    >
      <Work
        class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase size-5"
      />
    </span>
    <time
      class="relative top-1 bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
      >Marzo 2025</time
    >
    <h3 class="flex items-center mb-1 text-lg font-semibold text-heading my-2">
      Waimatech - Grupo Waima <span
        class="ms-2 bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded bg-[#A855F7]"
        >Actualidad</span>
    </h3>
    <p class="mb-4 text-body">
      En el grupo Waima formo parte del equipo de desarrollo web como FullStack Developer, trabajando con diferentes tecnologías tanto para backend, frontend, bases de datos y Apis.
    </p>
  </li>

  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center size-8 bg-[#06B6D4] rounded-full -start-4 ring-1 ring-buffer"
    >
      <Certificate
        class="icon icon-tabler icons-tabler-outline icon-tabler-certificate size-5"
      />
    </span>
    <time
      class="relative top-1 bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
      >January 09th, 2025</time
    >
    <h3 class="my-2 text-lg font-semibold text-heading">
      Flowbite Figma v1.3.0
    </h3>
    <p class="text-body">
      All of the pages and components are first designed in Figma and we keep a
      parity between the two versions even as we update the project.
    </p>
  </li>
</ol>
