---
import "@fontsource-variable/onest";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = "Default", description = "Default description" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
	<link rel="icon" href="/assets/my-space-icon.png" />
  </head>
  <body>
    <div class="fixed top-0 z-[-2] h-screen w-full bg-[#181a1b] bg-[radial-gradient(ellipse_80%_80%_at_50%_-30%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest", system-ui, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }
</style>
